body {
  background-color: white;
}

@font-face {
  font-family: "BBBAufgangOst-Regular"; 
  src: url('BBBAufgangOstGX.ttf') format('truetype');
} 

@font-face {
  font-family: "Galvji-Bold";
  src: url('Galvji-Bold.ttf') format('truetype');
}

@font-face {
font-family: "BigCaslon-Medium";
src: url("BigCaslon.ttf") format('truetype');
}

@font-face {
  font-family: "NeueHaasDisplay-Light";
  src: url("NeueHaasDisplayLight.ttf") format('truetype');
  }

* {
margin: 0;
padding: 0%;
box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

body.html {
	padding:0;
	margin:0;
	overflow-x:hidden;
}

.sticky-header {
  position: fixed;
  top: 0%;
  width: 300px; /* Adjust the width as needed */
  z-index: 999;
  font-size: 30px;
  mix-blend-mode: difference;
  color: WHITE;
}

.sticky-header.left {
  left: 0;
  font-family: "NeueHaasDisplay-Light";
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
}

.sticky-header.right {
  right: 0;
  font-family: "NeueHaasDisplay-Light";
  font-size: 30px;
  font-weight: bolder;
  text-align: right;
}

.sticky-header.transparent {
  background-color: transparent;
}

div.masthead {
height: 120vh;
width: 100%;
background-image: url("cotpng.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

div.mastheadtitle {
  width: 200px;
  font-size: 30px;
  font-family: "NeueHaasDisplay-Light";
}

span.title1 {
  color: white;
}

span.title2 {
  color: black;
  margin-right: 40px;
}

span.title3 {
  color: white;
}


.button__container {
  height: 100px;
  position: relative;
  margin-bottom: 100px;
  margin-top: -10px;
}

div.button a {
  align-items: center;
  border-radius:20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

#hover-image {
  width: 100%; 
  margin-top: 60px;
  margin-bottom: 20px;
}

#hover-image:hover {
  content: url('title12.png'); 
}

#hover-image2 {
  width: 100%; 
  margin-top: 20px;
  margin-bottom: 60px;
}

#hover-image2:hover {
  content: url('title22.png'); 
}


header img {
  max-width: 100%; 
}

header h1 {
  margin: 0; 
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center; 
}

header h1 img {
  max-width: 100%; 
}

header p {
  font-family: "NeueHaasDisplay-Light";
  font-size: 30px;
  text-align: justify;
  padding: 20px;
  margin: 0;
  bottom: 0;
  color: blue;
}

header h3 {
  margin: 0; 
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center; 
  padding: 20px;
}

header h3 img {
  max-width: 100%; 
}

.card__layout {
  display:flex;
  flex-wrap:wrap;
}

.card__container {
  height: 500px;
  position: relative;
  flex:0 0 100%;
}

.card {
  height: 100%;
  margin-top: 40px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .side__back {
  transform: rotateY(180deg);
  position: absolute;
  overflow: hidden;
  color: white;
}

.card .side img {
  width: 100%;
  height:100%;
  padding: 20px;
}

header img {
  max-width: 100%; 
}

header h1 {
  margin: 0; 
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center; 
  padding: 20px;
}

header h1 img {
  max-width: 100%;
  margin-top: -10px;
  margin-bottom: -10px;
}

header h4 {
  font-family: "BBBAufgangOst-Regular";
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  padding: 20px;
  padding-bottom: 15px; 
}

body p {
  font-family: "NeueHaasDisplay-Light";
  font-size: 20px;
  text-align: justify;
  margin: 0;
  bottom: 0;
  padding: 20px;
  color: black;
}

header h5 {
  margin: 0; 
  margin-top: 40px;
  text-align: center; 
  padding: 20px;
}

header h5 img {
  max-width: 100%;
  margin-top: -40px;
  margin-bottom: -10px;
}

header h6 {
  margin: 0; 
  margin-top: 40px;
  text-align: center; 
  padding: 20px;
}

header h6 img {
  width: 100%;
  height: auto
  margin-top: -40px;
  margin-bottom: -10px;
}