body {
    background-color:white;
}

@font-face {
    font-family: "BBBAufgangOst-Regular";
    src: url("BBBAufgangOst-Regular.ttf");
} 

@font-face {
    font-family: "Galvji-Bold";
    src: url("Galvji-Bold.ttc");
}

@font-face {
    font-family: "Galvji-Oblique";
    src: url("Galvji-Oblique.ttc");
}

@font-face {
  font-family: "Galvji-BoldOblique";
  src: url("Galvji-BoldOblique.ttc");
}

@font-face {
  font-family: "BigCaslon-Medium";
  src: url("BigCaslon.ttf")
}

.header {
  background-color: blue;
  height: 40px;
  top: 0;
  left: 0;
  width: 100%;
}

.header h1 {
  font-family: "Galvji-Bold";
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
}

.margin-space {
  height: 30px;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.title h2 {
  font-family: "BBBAufgangOst-Regular";
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: -30px;
  letter-spacing: 3px;
  text-align: left;
  color: blue;
}

.title h3 {
  font-family: "BBBAufgangOst-Regular";
  font-size: 80px;
  margin-top: -30px;
  margin-bottom: -30px;
  letter-spacing: 3px;
  text-align: center;
  color: blue;
}

.title h4 {
    font-family: "BBBAufgangOst-Regular";
    font-size: 80px;
    margin-top: -30px;
    margin-bottom: -50px;
    letter-spacing: 3px;
    text-align: right;
    color: blue;
}

.subtitle h5 {
    font-family: "Galvji-Bold";
    font-size: 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 20px;
    margin-top: -50px;
    color: blue;
}

hr {
  width: 100%;
  height: 3px;
  border-inline-color: black;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

.article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
  
.article h6 {
    font-family: "BBBAufgangOst-Regular";
    color: black;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
}
.article h6 {
  font-family: "BBBAufgangOst-Regular";
  color: black;
  font-size: 40px;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.article content {
    font-family: "BigCaslon-Medium";
    color: black;
    font-size: 20px;
    padding: 20px;
    margin-bottom: -10px;
}

.articlep3 {
  font-family: "BigCaslon-Medium";
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-bottom: -10px;
}

.articlep4 {
  text-underline-position: under;
  margin-bottom: -10px;
}

.articlep6 {
  font-family: "BigCaslon-Medium";
  color: black;
  font-size: 20px;
  padding: 20px;
  margin-bottom: -10px;
}

.articlep7 {
  text-underline-position: under;
}

  
hr {
    width: 100%;
    height: 3px;
    background-color: black;
}

div.item.text {
    font-size: 25px;
    width: 100%;
    background-color: red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
  }
  
  div.item.blue {
    font-size: 20px;
    width: 100%;
    background-color: blue;
    font-family: "Galvji-Bold"
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
  }
  
  div.blockleft {
   font-family: "BBBAufgangOst-Regular";
   color: black;
   font-size: 20px;
   margin-bottom: 80px;
   width: 400px;
   margin-left: 200px;
   height: 300px
  }

  div.blockright {
   font-family: "BBBAufgangOst-Regular";
   color: black;
   font-size: 20px;
   margin-bottom: 100px;
   width: 400px;
   margin-right: 200px;
   height: 400px
  }

.footer {
    background-color: blue;
    height: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
}

.footer h8 {
    font-family: "Galvji-Bold";
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: white;
}