body {
    background-color:white;
}

@font-face {
    font-family: "BBBAufgangOst-Regular"; 
    src: url('BBBAufgangOst-Regular.ttf') format('truetype');
} 

@font-face {
    font-family: "Galvji-Bold";
    src: url('Galvji-Bold.ttc') format('truetype');
}

@font-face {
    font-family: "Galvji-Oblique";
    src: url("Galvji-Oblique.ttc") format('truetype');
}

@font-face {
  font-family: "Galvji-BoldOblique";
  src: url("Galvji-BoldOblique.ttc") format('truetype');
}

@font-face {
  font-family: "BigCaslon-Medium";
  src: url("BigCaslon.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0%;
}

.header {
   background-color: blue;
   height: 40px;
   display: flex;
   font-family: "Galvji-Bold";
   font-size: 10px;
   justify-content: space-between;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.header h1 {
   font-family: "Galvji-Bold";
   font-size: 10px;
   text-align: center;
   margin: 0;
   padding: 10px;
   color: white;
}

.margin-space {
   height: 30px;
}

.title {
   margin-top: 20px;
   text-align: center;
}

.title h2 {
   font-family: "BBBAufgangOst-Regular";
   font-size: 60px;
   margin-top: 30px;
   margin-bottom: -30px;
   letter-spacing: 3px;
   text-align: left;
   color: blue;
}

.title h3 {
   font-family: "BBBAufgangOst-Regular";
   font-size: 60px;
   margin-top: -30px;
   margin-bottom: -30px;
   letter-spacing: 3px;
   text-align: center;
   color: blue;
}

.title h4 {
    font-family: "BBBAufgangOst-Regular";
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-align: right;
    color: blue;
}

.line {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-top: 30px;
}

.author h5 {
    font-family: "Galvji-Bold";
    font-size: 20px;
    font-style: bold;
    letter-spacing: 1px;
    text-align: left;
    color: black;
}

.line {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-top: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

.paraspot p {
  font-family: "BigCaslon-Medium";
  color: blue;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 40px;
}

.line4 {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-top: 0px;
  margin-bottom: 50px;
}

.subheading h2 {
   font-family: "Galvji-Bold";
   color: blue;
   font-size: 10px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.margin-space {
  height: 10px;
}

.article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}
  
.article h6 {
    font-family: "BBBAufgangOst-Regular";
    color: black;
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article h6 {
   font-family: "BBBAufgangOst-Regular";
   color: black;
   font-size: 30px;
   text-align: left;
   margin-top: -10px;
   margin-bottom: 20px;
   border-radius: 10px;
}

.date {
   font-family: "Galvji-Bold";
   color: black;
   text-align: left;
   font-size: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.content.p2 {
    font-family: "BigCaslon-Medium";
    color: black;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
}

.content.p3 {
   font-family: "BigCaslon-Medium";
   color: black;
   font-size: 20px;
   padding: 20px;
   margin-top: 10px;
}

.content.p4 {
   font-family: "BigCaslon-Medium";
   color: black;
   font-size: 20px;
   padding: 20px;
   margin-top: 10px;
}

.underline-text {
   text-decoration: underline;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: "Galvji-Bold";
   color: blue;
   font-size: 15px;
   text-align: left;
   background-color: white;
}

.margin-space {
  height: 10px;
}

.content.p5 {
   font-family: "BigCaslon-Medium";
   color: black;
   font-size: 20px;
   padding: 20px;
}

.contentp6 {
   font-family: "BigCaslon-Medium";
   color: black;
   font-size: 20px;
   padding: 20px;
   margin-top: 10px;
}

.content.p7 {
   font-family: "BigCaslon-Medium";
   color: black;
   font-size: 20px;
   padding: 20px;
   margin-top: 10px;
}

  
.line3 {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-top: 0px;
  margin-bottom: 50px;
}

div.item.blue {
  background-color: blue;
  font-family: "BigCaslon-Medium"
  font-size: 15px;
  text-align: right;
  color: white;
  width: 100%;
  max-width: 370px;
  margin-top: 20px
  margin-bottom: 40px;
  padding: 10px;
} 

.line4 {
  width: 100%;
  border: none;
  border-top: 1px solid black;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer {
   background-color: blue;
   height: 40px;
   display: flex;
   font-family: "Galvji-Bold";
   font-size: 10px;
   justify-content: space-between;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin-top: 30px;
}

.footer p {
   font-family: "Galvji-Bold";
   font-size: 10px;
   text-align: right;
   margin: 0;
   padding: 10px;
   color: white;
}