body {
    background-color:blue;
    font-family:Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Garamondt-Italic";
    src: url("Garamondt-Italic.otf");
} 

@font-face {
    font-family: "Galvji";
    src: url("Galvji.ttc");
}


h1 {
    font-family: "Garamondt-Italic";
    font-size: 100px;
    letter-spacing: 10px;
    text-align: center;
    color: antiquewhite;
}

h2 {
    font-family: "Galvji.ttc";
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    color:chartreuse;
}